#map {
    height: 100vh;
}

#map-container {
    /* relative position can absolutely position search container by coordinates */
    position: relative;
}

#search-container {
    position: relative;
    top: 12px; /* 12px from the top */
    left: 50px; /* 50px from the left */ 
    z-index: 314159;
    padding: 15px;
    background-color:rgb(255,255,255, 0.5); /* opacity 50% */
}

#search-results {
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 4px;
    background-color: rgb(253, 241, 246);
    background-blend-mode: color-dodge;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.nav-tabs {
    position: relative;
}