#map {
    height: 100vh;
}

#map-container {
    /* relative position can absolutely position search container by coordinates */
    position: relative;
}

#search-container {
    position: absolute;
    top: 12px; /* 12px from the top */
    left: 50px; /* 50px from the left */ 
    z-index: 314159;
    padding: 15px;
    background-color:rgb(255,255,255, 0.5); /* opacity 50% */
}